body {
    background-image: url(https://wallpaperaccess.com/full/3968079.jpg);
    background-position: center;
    height: 100vh;
}

li {
    list-style: none;
}
.cursor:hover {
    cursor: pointer;
}
.decoration {
    text-decoration: none;
}
