@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

body {
    background-image: url(https://wallpaperaccess.com/full/3968079.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier Prime", monospace;
    min-height: 100vh;
}
li {
    list-style: none;
}
.cursor:hover {
    cursor: pointer;
}
.decoration {
    text-decoration: none;
}

.blur {
    backdrop-filter: blur(5px);
    max-width: 500px;
}

article {
    width: 290px;
}

@media screen and (max-width: 992px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
